@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Anders Børjesson">
    <title>Anders Børjesson</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #333;
            color: #fff;
        }

        .navbar {
            background-color: #444;
        }

            .navbar a {
                color: #fff !important;
            }

        .container {
            background-color: #555;
            border-radius: 10px;
            padding: 20px;
        }

        a {
            color: #00bcd4;
        }

            a:hover {
                color: #0097a7;
            }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="http://www.easj.dk/">Erhvervsakademi Sjælland</a>
                <span>~ Anders Børjesson</span>
            </nav>
        </header>
        <div class="container mt-4">
            <div class="text-center">
                <strong>
                    Anders Børjesson (anbo)<br>
                    Cand.scient. i matematik og datalogi<br>
                    Lektor på Datamatikeruddannelsen<br>
                    Zealand, Sjællands Erhvervsakademi, Roskilde
                </strong>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <address>
                        <strong>Address (work):</strong><br>
                        Maglegårdsvej 2, 4000 Roskilde<br>
                        E-mail (work) anbo(at)zealand.dk
                    </address>
                </div>
                <div class="col-md-6">
                    <a href="https://anbo-easj.dk/cv/">My CV</a><br>
                    <a href="https://anbo-easj.dk/internship/index.html">Internship Info</a><br>
                    <hr>
                    <a href="https://anbo-easj.dk/bekendtgoerelser/">Important Notices</a><a href="https://anbo-easj.dk/index.htm"> (Home)</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <strong>Teaching autumn 2019</strong><br>
                    <a href="https://docs.google.com/document/d/e/2PACX-1vQnP5GDXd2YmuUapbnNgaUAK-4gsDtZGDl-qZT-g3xsUCSvPhfr1OTdo7esf_b3qm3ypfQSwMuz5Mab/pub">Programming 3sem</a> Datamatiker <br>
                    <a href="https://docs.google.com/document/d/e/2PACX-1vQSdR7ZSr7DfFCc8SC0tSqz8VaLKHN8LCGRmfxTFVnl1GgkHnk_Wr_-7r_Lr5EX-qpOt7sBzo6SmHH0/pub">Mobile Application Development</a>, 4th semester Comp Science<br>
                </div>
                <div class="col-md-4">
                    <strong>Teaching spring 2019</strong><br>
                    <a href="https://anbo-easj.dk/mobile2019spring/index.html"> Mobile App Dev</a>, 4th semester Comp Science<br>
                    <a href="https://anbo-easj.dk/internship/index.html">Internship Info</a><br>
                </div>
                <div class="col-md-4">
                    <strong>Teaching autumn 2018</strong><br>
                    <a href="https://anbo-easj.dk/prog3_2018autumn/index.html">Programming 3rd semester</a><br>
                    <a href="https://anbo-easj.dk/mobile2018autumn/index.html">Mobile App Dev</a>, 4th semester Comp Science<br>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



